<launch>
  <node name="world_tag_node" pkg="jaka_world_tag" type="world_tag_node" output="screen">
    <!-- 世界 Tag ID（您生成的 ID=0） -->
    <param name="world_id" type="int" value="500" />

    <!-- fiducial 检测话题（由 aruco_detect 或 apriltag_ros 发布） -->
    <param name="fiducial_topic" value="/fiducial_transforms" />

    <!-- 坐标系命名 -->
    <param name="world_frame" value="world" />
    <param name="camera_frame" value="zed2i_left_camera_optical_frame" />

    <!-- 滤波参数（0.0=完全平滑，1.0=无滤波） -->
    <param name="alpha_pos" value="0.3" />
    <param name="alpha_rot" value="0.3" />
  </node>
</launch>
